<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014069162488-9o41m6emvs7podnulu5otrk7ue6i07l7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014069162488-9o41m6emvs7podnulu5otrk7ue6i07l7</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Y81HOudqLTstOUXUx1zC28neM0zR9wY</string>
	<key>GCM_SENDER_ID</key>
	<string>1014069162488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.feofunlimited.legionmaster</string>
	<key>PROJECT_ID</key>
	<string>legion-master-cf340</string>
	<key>STORAGE_BUCKET</key>
	<string>legion-master-cf340.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014069162488:ios:ce974b997d7f74e061260d</string>
</dict>
</plist>